body {
  font-family: Overpass, sans-serif;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

.header {
  background-image: url("photos/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  text-align: center;
}

.header p {
  color: white;
  font-size: 24px;
  opacity: 0.7;
}

h1 {
  font-size: 48px;
  font-family: Chivo, serif;
  color: white;
}

h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

a {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:focus {
  outline: 2px solid white;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card p {
  font-family: Overpass, sans-serif;
}

.footer {
  font-family: Overpass, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  background: #404042;
  color: white;
  padding: 10px 0;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
